<ion-header>
  <ion-toolbar>
    <ion-title>
      Barber List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-button class="btn btn-secondary btn-lg active" role="button" href="cliente"  >

      <ion-icon name="add-circle"></ion-icon>
    </ion-button>

    <ion-button color="success" href="clientes" expand="full" shape="round"> Agenda </ion-button>
    <ion-button color="success" href="servico" expand="full" shape="round"> Servico </ion-button>
    <ion-button color="success" href="servicos" expand="full" shape="round"> Servicos </ion-button>

  </div>

</ion-content>