<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="principal"> </ion-back-button>
    </ion-buttons>

    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<!-- Searchbar with cancel button shown on focus -->
<!--<ion-searchbar showCancelButton="focus">
  <ion-card>
    <ion-option *ngFor="let cliente of listaClientes | async">
      {{cliente.nome}}
    </ion-option>
  </ion-card>
</ion-searchbar>

-->

  <ion-list>

    <ion-item *ngFor="let cliente of listaClientes | async">
      <ion-label>{{cliente.nome}}</ion-label>
     
      <ion-label>{{cliente.data}}</ion-label>

          <ion-button class="btn btn-danger" (click)="excluir(cliente.key)">
          <ion-icon name="trash"></ion-icon>
          </ion-button>

    </ion-item>
    
    
  </ion-list>


</ion-content>